.foot{
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 30px 70px;
  background-color: #f5f3f3;
}

.first-content{
  display: flex;
  flex-direction: column;
  padding: 0px 0px 15px 0px;
}

.first-content h1{
  font-size: 6em;
  font-weight: bold;
}

.first-content p{
  margin-bottom: 10px;
  color: #aaa;
}

.first-content .inputs{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.first-content .inputs input{
  border: 1px solid #aaa;
  border-radius: 20px;
  padding: 10px;
  width: 70%;
}
.first-content .inputs button{
  color: #fff;
  background-color: #000;
  border: 1px solid #000;
  border-radius: 20px;
  padding: 10px 30px;
}



.siteInfos{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30%;
  padding-top: 10px;
}

.classes{
  display: flex;
  flex-direction: column;
}

.classes h1{
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 15px;
}

.classes a {
  color: #aaa;
  margin-bottom: 10px;
  font-size: 1em;
}

@media (max-width: 768px) {
  .first-content h1{
    font-size: 2em;
    font-weight: bold;
  }

  .foot{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  .siteInfos{
    width: 100%;
  }

  .classes h1{
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .classes a {
    color: #aaa;
    margin-bottom: 10px;
    font-size: .9em;
  }
}