<div class="shadow-lg p-5 flex flex-col sm:flex-row items-center justify-between text-center">
  <div class="mb-4 sm:mb-0">LOGO</div>
  <div class="flex justify-between sm:justify-start space-x-10">
    <a href="" class="hover:text-stone-500">Home</a>
    <a href="" class="hover:text-stone-500">Categorias</a>
    <a href="" class="hover:text-stone-500">Sobre Nós</a>
  </div>
  <div>
    <a (click)="clickHistory()">Carrinho</a>
  </div>
</div>
<app-carrinho-offcanvas [(isClicked)]="click"></app-carrinho-offcanvas>
