<div class="shadow-lg p-5 flex flex-col sm:flex-row items-center justify-between text-center">
  <div class="mb-4 sm:mb-0">LOGO</div>
  <div class="flex justify-between sm:justify-start space-x-10">
    <a href="" class="hover:text-stone-500">Home</a>
    <a href="" class="hover:text-stone-500">Categorias</a>
    <a href="" class="hover:text-stone-500">Sobre Nós</a>
  </div>
  <div class="dropdown">
    <button class="dropdown-toggle" (click)="toggleDropdown()">Opções</button>
    <div class="dropdown-menu" [class.show]="isDropdownOpen">
      <button class="dropdown-item" (click)="selecionarOpcao('opcao1')">Opção 1</button>
      <button class="dropdown-item" (click)="selecionarOpcao('opcao2')">Opção 2</button>
      <button class="dropdown-item" (click)="selecionarOpcao('opcao3')">Opção 3</button>
    </div>
  </div>
  
  <div>
    <a mat-raised-button (click)="openModal()">Entrar</a>
    <a (click)="clickHistory()">Carrinho</a>
  </div>
</div>
<app-carrinho-offcanvas [(isClicked)]="click"></app-carrinho-offcanvas>
<app-modal-auth *ngIf="showModal" (closeModalEvent)="closeModal()"></app-modal-auth>