.nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.links_nav{
  width: 15%;
}



.titleSj {
  font-weight: bold;
  margin-right: 12px;
  font-size: 1em;
}



.dropdown {
    position: relative;
    display: inline-block;
    justify-content: initial;
  }
  
  .dropdown-toggle {
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    justify-content: initial; /* Transição suave de cor */
  }
  
  .dropdown-toggle:hover {
    background-color: #f1f1f1; /* Cor de fundo do botão ao passar o mouse */
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #ffffff; /* Cor de fundo do dropdown */
    min-width: 100px;
    max-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 4px; /* Borda arredondada */
    opacity: 0; /* Opacidade inicial */
    transition: opacity 0.3s; /* Transição suave de opacidade */
    right: -40px;
  }
  
  .dropdown-menu.show {
    display: block;
    opacity: 1; /* Opacidade ao mostrar o dropdown */
  }
  
  .dropdown-item {
    color: #333333; /* Cor do texto do item do dropdown */
    padding: 10px 12px; /* Espaçamento interno do item do dropdown */
    text-decoration: none;
    display: block;
    transition: background-color 0.3s; /* Transição suave de cor de fundo */
    font-size: .8em;
  }
  
  .dropdown-item:hover {
    background-color: #f1f1f1; /* Cor de fundo do item do dropdown ao passar o mouse */
  }
  


