<div class="account-orders">
  <div class="order">
    <h1>Pedidos</h1>
  </div>
  <div class="accountOpts">
    <!-- Selecione o status -->
    <div
      class="accountOpts-item"
      [class.selected]="selectedStatus === 'Aguardando Pagamento'"
      (click)="selectStatus('Aguardando Pagamento'); getByStatus('Aguardando Pagamento')"
    >
      Aguardando Pagamento
    </div>
    <div
      class="accountOpts-item"
      [class.selected]="selectedStatus === 'Aguardando Envio'"
      (click)="selectStatus('Aguardando Envio'); getByStatus('Aguardando Envio')"
    >
      Aguardando Envio
    </div>
    <div
      class="accountOpts-item"
      [class.selected]="selectedStatus === 'Enviado'"
      (click)="selectStatus('Enviado'); getByStatus('Enviado')"
    >
      Enviado
    </div>
    <div
      class="accountOpts-item"
      [class.selected]="selectedStatus === 'Concluído'"
      (click)="selectStatus('Concluído'); getByStatus('Concluido')"
    >
      Concluído
    </div>
  </div>
  
  <!-- Verificação se há produtos ou se houve erro na requisição -->
  <div class="oderdsCard">
    <ng-container *ngIf="prods && prods.length > 0; else noProducts">
      <app-order-card  
        *ngFor="let prod of prods" 
        [prodName]="prod.productName"
        [prodSize]="prod.productSizes"
        [prodPrice]="prod.productPrice"
        [prodQnt]="prod.productQuantity"
        [prodImg]="prod.src"
        [statusBtn]="selectedStatus"
        [_id]="prod._id"
        [codeRastreio]="prod.codRastreio">

      </app-order-card>
    </ng-container>
    <ng-template #noProducts>
      <div class="no-products-message">Não há produtos.</div>
    </ng-template>
  </div>
</div>
