<!-- <div class="overview">
  <div class="account-info">
    <div class="accout">
      <h1>João Henrique</h1>
    </div>
    <div class="accountOpts">
      <div class="accountOpts-item">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="44"
          height="44"
          viewBox="0 0 24 24"
          fill="none"
          stroke="#000000"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <circle cx="10" cy="20.5" r="1" />
          <circle cx="18" cy="20.5" r="1" />
          <path
            d="M2.5 2.5h3l2.7 12.4a2 2 0 0 0 2 1.6h7.7a2 2 0 0 0 2-1.6l1.6-8.4H7.1"
          />
        </svg>
        Carrinho
      </div>
    </div>
  </div>
</div> -->

<div class="account-orders">
  <div class="order">
    <h1>Pedidos</h1>
  </div>
  <div class="accountOpts">
    <div
      class="accountOpts-item"
      [class.selected]="selectedStatus === 'Aguardando Pagamento'"
      (click)="getByStatus('Aguardando Pagamento')"
      (click)="selectStatus('Aguardando Pagamento')"

    >
      Aguardando Pagamento
    </div>
    <div
      class="accountOpts-item"
      [class.selected]="selectedStatus === 'Aguardando Envio'"
      (click)="getByStatus('Aguardando Envio')"
      (click)="selectStatus('Aguardando Envio')"
    >
      Aguardando Envio
    </div>
    <div
      class="accountOpts-item"
      [class.selected]="selectedStatus === 'Enviado'"
      (click)="selectStatus('Enviado')"
      (click)="getByStatus('Enviado')"
    >
      Enviado
    </div>
  </div>
  <div class="oderdsCard">
    <app-order-card *ngFor="let prod of prods"></app-order-card>
  </div>
</div>
