
.delivery {
    background-color: #f7f7f7;
    padding: 15px;
    margin-top: 20px;
  }
  
  .textDelivery {
    border-bottom: 1px solid #cac3c3;
    margin-bottom: 15px;
  }
  
  .textDelivery h1 {
    padding: 0.5em;
    font-size: 1.2em;
    font-weight: bold;
  }
  
  .product {
    display: flex;
    flex-direction: row;
  }
  
  .product .img {
    display: flex;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
  }
  
  .p-infos {
    margin-left: 25px;
    display: flex;
    justify-content: space-between;
    width: 80%;
  }

  .infosProd{
    width: 50% ;
  }
  .p-info-model {
    color: #918a8a;
    padding: 10px 0px;
  }
  .p-info-price {
    margin-right: 20px;
  }
  
  .p-info-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .p-info-quantity {
    color: #918a8a;
  }
  .confirmation{
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .funcClass p{
    margin-top: 12px;
    font-size: 14px;
    border-bottom: 1px solid rgb(212, 212, 212);
  
  }


  .confirmation button {
    padding: 7.5px 18px;
    border: 0;
    border-radius: 100px;
    background-color: #2ba8fb;
    color: #ffffff;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }
  
  .confirmation button:hover {
    background-color: #6fc5ff;
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.1);
  }
  
  .confirmation button:active {
    background-color: #3d94cf;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
  }

  .noCode{
    display: none;
  }
  .seeCode{
    margin-top: 6px;
    background-color: rgb(211, 211, 211);
    border-radius: 8px;
    padding: 3px;
    cursor: pointer;
  }
  
  .funcClass{
    cursor: pointer;
  }

  @media (max-width: 768px) {

    .p-infos {
      margin-left: 25px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 70%;
    }


    .confirmation button {
      margin-top: 4px;
      padding: 4.5px 14px;
      font-size: 13px;
      border: 0;
      border-radius: 100px;
      background-color: #2ba8fb;
      color: #ffffff;
      font-weight: Bold;
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
    }
    
}