<div class="delivery">  
    <div class="textDelivery">
      <h1>Entrega</h1>
    </div>
    <div class="product">
      <div class="img">
        <img src="../../../assets/Images/imgProd.png" alt="" />
      </div>
      <div class="p-infos">
        <div class="infosProd">
          <div class="p-info-product">
            <h1>Teclado Atack Shark k86</h1>
          </div>
          <div class="p-info-model">
            <h1>White Axis, Grey</h1>
          </div>
          <div class="p-info-price">
            <h1>R$ 100,68</h1>

            <div class="p-info-quantity">
              <p>qntd: 1</p>
            </div>
          </div>
        </div>
        <div class="confirmation">
          <button>Confirmar Entrega</button>
        </div>
      </div>
    </div>
  </div>