<div class="imageBg">
  <div class="image">
    <img
      src="../../../assets/Images/pexels-tembela-bohle-1884581.jpg"
      alt=""
      srcset=""
    />

    <div class="textImage">
      <p class="">Aproveite as Promoções</p>
    </div>
  </div>
</div>
<div
  class="p-6 lg:p-10 xl:p-10 xl:pb-32 xl:pt-32 flex flex-col justify-between"
>
  <h1 class="lg:text-3xl md:text-xl font-bold">Compre por categorias</h1>
  <div
    class="cards flex justify-center flex-wrap mt-6 sm:flex-wrap sm:justify-between"
  >
    <app-cards-home
      title="Moda Feminina"
      src="../../../assets/Images/pexels-dziana-hasanbekava-5480696 1.png"
    ></app-cards-home>
    <app-cards-home
      title="Ascessórios"
      src="../../../assets/Images/acessorios.png"
    ></app-cards-home>
    <app-cards-home
      title="Moda Masculina"
      src="../../../assets/Images/Moda Masculina.png"
    ></app-cards-home>
    <app-cards-home
      title="Tênis"
      src="../../../assets/Images/tenis.png"
    ></app-cards-home>
  </div>
</div>

<div class="annunciment">
  <app-anuncio-collection></app-anuncio-collection>
</div>
<div
  class="about xl:pt-24 flex-row justify-center text-center items-center lg:p-20 lg:pl-80 lg:pr-80"
>
  <h1 class="lg:text-3xl font-bold mb-4">Sobre a S&JJ</h1>
  <p class="lg:text-2xl font-bold">
    A S&JJ é sua loja de roupas definitiva. Com estilo, qualidade e atendimento
    excepcionais, buscamos tornar a moda acessível a todos. Descubra sua
    expressão pessoal conosco. Moda na S&JJ: onde estilo encontra excelência.
    <br /><br />
    A S&JJ é sua loja de moda essencial. Cada peça, uma declaração de estilo
    duradouro. Em nosso espaço acolhedor, descubra uma seleção cuidadosa de
    roupas para todas as ocasiões. Com uma equipe dedicada, estamos aqui para
    transformar sua experiência de compra em algo memorável. Na S&JJ, a moda se
    torna uma expressão única e pessoal. Venha fazer parte dessa jornada.
  </p>
</div>
<div
  class="p-6 lg:p-10 xl:p-10 xl:pb-32 xl:pt-32 flex flex-col justify-between"
>
  <h1 class="lg:text-3xl md:text-xl font-bold">Compre Agora</h1>
  <div
    class="cards flex justify-center flex-wrap mt-6 sm:flex-wrap sm:justify-between"
  >
    <app-cards-home
      title="Moda Feminina"
      src="../../../assets/Images/pexels-dziana-hasanbekava-5480696 1.png"
    ></app-cards-home>
    <app-cards-home
      title="Ascessórios"
      src="../../../assets/Images/acessorios.png"
    ></app-cards-home>
    <app-cards-home
      title="Moda Masculina"
      src="../../../assets/Images/Moda Masculina.png"
    ></app-cards-home>
    <app-cards-home
      title="Tênis"
      src="../../../assets/Images/tenis.png"
    ></app-cards-home>
  </div>
</div>
<div class="contats">
  <div class="component p-10">
    <app-contato></app-contato>
  </div>
</div>
