<div class="bening">
  <div class="contentFB" >
    <img src="../../../assets/Images/banner.jpg" alt="details">
      <div class="legenda">
          <h1 >COMPRE NOSSAS COLEÇÕES EXCLUSIVAS</h1>
          <div class="texts">
            <p>Compre somente aqui as melhores coleções<br/> de todas estações  do país</p>
            <button >Compre Agora</button>
          </div>
      
      </div>
  </div>
</div>
<div
  class="p-6 lg:p-10 xl:p-10 xl:pb-32 flex flex-col justify-between"
>
  <h1 class="lg:text-3xl md:text-xl font-bold">Compre por categorias</h1>
  <div
    class="cards flex lg:justify-between mt-6 sm:justify-center flex-wrap"
  >
  <app-category-cards src="../../../assets/Images/MAN.jpg" title="HOMEM" category="masculina">
  </app-category-cards>
  <app-category-cards src="../../../assets/Images/WOMAN.jpg" title="MULHER" category="feminina">
  </app-category-cards>
  <app-category-cards src="../../../assets/Images/ASSE.jpg" title="ACESSÓRIOS"  category="acessorios">
  </app-category-cards>
  </div>
</div>

<div class="saecons">
  <div class="nation" >
    <img src="../../../assets/Images/fashion.jpg" alt="details">
  </div>
</div>


<div
  class="about  flex-row justify-center text-center items-center lg:pl-80 lg:pr-80"
>
  <h1 class="lg:text-3xl font-bold mb-4">Sobre a S&JJ</h1>
  <p class="lg:text-2xl ">
    A S&JJ é sua loja de roupas definitiva. Com estilo, qualidade e atendimento
    excepcionais, buscamos tornar a moda acessível a todos. Descubra sua
    expressão pessoal conosco. Moda na S&JJ: onde estilo encontra excelência.
    <br /><br />
    A S&JJ é sua loja de moda essencial. Cada peça, uma declaração de estilo
    duradouro. Em nosso espaço acolhedor, descubra uma seleção cuidadosa de
    roupas para todas as ocasiões. Com uma equipe dedicada, estamos aqui para
    transformar sua experiência de compra em algo memorável. Na S&JJ, a moda se
    torna uma expressão única e pessoal. Venha fazer parte dessa jornada.
  </p>
</div>
<div
  class="p-6 lg:p-10 xl:p-10 xl:pb-32 xl:pt-32 flex flex-col justify-between"
>
  <div
    class="cards flex lg:justify-between mt-6 sm:justify-center flex-wrap"
  >
  <app-category-cards src="../../../assets/Images/calcados.jpg" title="CALÇADOS" category="calcados">
  </app-category-cards>
  <app-category-cards src="../../../assets/Images/moletons.jpg" title="MOLETONS" category="moletons">
  </app-category-cards>
  <app-category-cards src="../../../assets/Images/calcas.jpg" title="CALÇAS" category="calcas">
  </app-category-cards>
</div>
<div class="contats">
  <div class="component p-10">
    <app-contato></app-contato>
  </div>
</div>
