<div class="card">
  <div class="img-container">
    <img
      src="{{route}}{{src}}"
      alt="Prod"
    />
  </div>

  <div class="content">
    <div class="title"><p>{{productName}}</p></div>

    <div class="price"><p>Price: ${{ price }}</p></div>
    <div class="total"><p>Total: ${{ price * quantity }}</p></div>

    <div class="quantity">
      <button class="quantity-btn" (click)="decreaseQuantity()">-</button>
      <span>{{ quantity }}</span>
      <button class="quantity-btn" (click)="increaseQuantity()">+</button>
    </div>    
  </div>
</div>
