<div class="content">
  <div class="prods">
    <div class="product-detail-container">
      <div class="contentOff">
        <div class="product-info">
          <div class="imgInfo">
            <img [src]="urlApi + product.src" alt="" />
          </div>
        </div>

        <div class="address-info-content" *ngIf="address">
          <div class="addrs">
            <h2>Endereço de Entrega</h2>
            <div class="displayInfos flex justify-between w-9/12 pb-10 items-start">
              <div class="imf">
                <p><strong>Endereço:</strong> {{ address.endereco }}</p>
                <p><strong>Bairro:</strong> {{ address.bairro }}</p>
                <p><strong>Número:</strong> {{ address.numero }}</p>
                <p><strong>Cidade:</strong> {{ address.cidade }}</p>
                <p><strong>Estado:</strong> {{ address.estado }}</p>
                <p><strong>CEP:</strong> {{ address.cep }}</p>
              </div>
            
              <div class="infos flex flex-col items-start h-full">
                <h1 >Detalhes do Produto</h1>
                <strong>{{ product.productName }}</strong>
                <p><strong>Quantidade:</strong> {{ product.productQuantity }}</p>
                <p>
                  <strong>Preço:</strong> R$
                  {{ product.productPrice | number : "1.2-2" }}
                </p>
                <p><strong> Tamanho:</strong> {{ product.productSizes }}</p>
              </div>
            </div>
            
          </div>
          <div class="address-info" *ngIf="address">
            <h3>Adicionar código de Rastreio</h3>
            <input
              type="text"
              class="tracking-input"
              placeholder="Rastreio"
              [(ngModel)]="codigoRastreio"
            />
            <button class="send-product-btn" (click)="sendAndCode()">
              Enviar Produto
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
