<div class="off-canvas" [class.open]="isClicked">
  <button class="close-button" (click)="closeOffCanvas()">&times;</button>
  <ng-container *ngIf="isClicked">
    <div class="off-canvas-content">
      <div class="data-container">
        <div class="title">
          <h1>Carrinho</h1>
        </div>
        <div class="cards">
          <app-card-cart *ngFor="let item of cartProducts; let i = index"  [prodId]="item.idProd" (totalPriceChange)="updateTotalPrice($event, i)"></app-card-cart>
        </div>
        
        <div class="progress">
          <div class="card-progress">
            <h1>Total: {{ cartTotal }}</h1> <!-- Exibir o total do carrinho -->
            <button>Prosseguir</button>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
