.off-canvas {
    height: 100%;
    width: 300px; /* ou o tamanho desejado */
    position: fixed;
    top: 0;
    right: -300px; /* Inicialmente fora da tela à direita */
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow-x: hidden;
    transition: right 0.3s ease;

    z-index: 1000;
  }
  
  .close-button {
    font-size: 1.5em;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    color: #333;
  }
  
  .off-canvas-content {
    padding: 20px;
  }
  
  .open {
    right: 0; /* Quando aberto, movemos para a posição direita 0 */
  }
  
  .toggle-button {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 2;
  }

  .data-container{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .title{
    margin-bottom: 15px;
    font-size: 1.5rem;
    font-weight: bold;
  }
  

  .cards{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }


  .card {
  display: flex;
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container img {
  width: 120px; 
  height: auto;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.content {
  padding: 0rem 1rem;
  height: 120px;
}
.title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.title p{
  font-weight: bold;
  margin-right: 8px;
   font-size: 14px;
}

.title button{
  background: none;
  border: none;
  cursor: pointer;
  color: #ff0000;
}

.price p,
.total p{
  margin-bottom: 0.5rem;
  font-size: .8rem;
}

.quantity {
  display: flex;
  align-items: center;
}

.quantity-btn {
  color: #4b4b4b;
  border: none;
  padding: 0.3rem 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.2rem;
  transition: background-color 0.3s ease;
}


.quantity-btn:active {
  transform: translateY(1px);
}

/* Espaçamento entre os botões e o span */
.quantity-btn + span {
  margin: 0 0.5rem;
}

.progress {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.card-progress {
  background-color: #f9f9f9;
  border-top: 1px solid #ddd;
  padding: 15px 15px 10px 15px;
}

.card-progress h1 {
  font-size: 18px;
  margin-bottom: 5px;
}

.card-progress button {
  background-color: #2ba8fb;
  color: white;
  border: none;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  transition-duration: 0.4s;
  width: 100%;
  border-radius: 12px;
}

.card-progress button:hover {
  background-color: #0b69a8;
}
